<%= form_for @user, url: form_submit_path do |f| %>
<p>
  <%= f.label :name %>:
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :email %>:
  <%= f.text_field :email %>
</p>

<p>
  <%= f.label :password %>:
  <%= f.password_field :password %>
</p>

<p>
  <%= f.label :password_confirmation %>:
  <%= f.password_field :password_confirmation %>
</p>
  <%= fields_for :addresses do |address| %>
    <%= address.label :address %>:
    <%= address.text_field :address %>

    <%= address.label :city %>:
    <%= address.text_field :city %>

    <%= address.label :state %>:
    <%= address.text_field :state %>

    <%= address.label :zip %>:
    <%= address.text_field :zip %>

  <% end %>
<p>
  <%= f.submit "Submit" %>
</p>
<% end %>
